<div class="col-lg-8 max-auto">
  <div class="card shadow">
    <div class="card-header">
      <h1>New prospect</h1>
    </div>
    <div class="card-body">
      <%= render "form", prospect: @prospect %>
    </div>
  </div>
</div>